/* Firefox 50 compatibility */
.flex {
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

.align-center {
  -moz-box-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.justify-center {
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Add these classes to your HTML elements */ 